---
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";

const teamData = await getCollection("team");
const todos = await getCollection("todos");
const posts = await getCollection("posts", ({ data }) => data.title);
const postsWithAuthors = await Promise.all(
  posts.map(async (post) => {
    const author = await getEntry(post.data.author);
    return {
      postData: post.data,
      postId: post.id,
      authorData: author ? author.data : null,
    };
  })
);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Homepage</h1>
    {teamData.map((p) => <p>{p.data.name}</p>)}
    <ul>
      {todos.map((t) => <li>{t.data.title}</li>)}
    </ul>
    <ul>
      {postsWithAuthors.map(({ postData, authorData }) => (
        <li>
          <p>
            <img src={postData.cover.src} alt={postData.coverAlt} />
          </p>
          <p>
            {postData.title} by {authorData ? authorData.name : "unknown author"}
          </p>
        </li>
      ))}
    </ul>
  </body>
</html>
