---
import { getEntry, render } from "astro:content";

const post = await getEntry("posts", "post-1");

if (!post) {
  return new Response(null, {
    status: 404,
  });
}

const { Content, headings } = await render(post);
const author = await getEntry("team", post.data.author.id);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{post.data.title}</title>
  </head>
  <body>
    <h1>{post.data.title}</h1>
    {author && <p>{author.data.name}</p>}
    <img src={post.data.cover.src} alt={post.data.coverAlt} />
    <ul>
      {
        headings.map((h) => (
          <li><a href={`#${h.slug}`}>{h.text}</a></li>
        ))
      }
    </ul>
    <Content />
  </body>
</html> 
