---
import { getProductPrice, type FinalCartItem } from "@/lib/cart";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

type Props = {
  cartItem: FinalCartItem;
};

const { cartItem } = Astro.props;

const product = cartItem.product;

const finalPrice = await getProductPrice(cartItem.product);
---

<li class="cart-item">
  <Image src={product.data.image} alt={product.data.title} height={150} width={150} />
  <div class="grid-xs">
    <p>{finalPrice}</p>
    <h2>{product.data.title}</h2>
    <div class="cart-button-wrapper">
      <button
        class="btn cart"
        data-cart
        data-action="decrement"
        data-productid={product.id}
        aria-label={`Remove one ${product.data.title} from cart`}
      >
        <Icon name="minus" width="16" height="16" />
      </button>
      <p data-quantity data-productId={product.id}>{cartItem.quantity}</p>
      <button
        class="btn cart"
        data-cart
        data-action="increment"
        data-productid={product.id}
        aria-label={`Add one ${product.data.title} to cart`}
      >
        <Icon name="plus" width="16" height="16" />
      </button>
    </div>
  </div>
</li>
