---
import katie from "@/assets/avatar.jpeg";
import Heading from "@/components/ui/Heading.astro";
import Link, { type LinkProps } from "@/components/ui/Link.astro";

interface Link extends LinkProps {
  name: string;
}

type Props = {
  title?: string;
  content?: string;
  links?: Link[];
};

const defaultContent = {
  title: "👋 Hi, I’m Katie",
  content: "I’m a self-taught designer and developer obsessed with quality.",
  links: [
    {
      href: "/katie-haus-cv.pdf",
      name: "Download CV",
      variant: "secondary",
    },
  ],
};

const {
  title = defaultContent.title,
  content = defaultContent.content,
  links = defaultContent.links,
} = Astro.props;
---

<section aria-label="Hero section" class="hero">
  <img src={katie.src} alt="Katie Haus" />
  <Heading tagName="h1" tagSize="h2">{title}</Heading>
  <p>{content}</p>
  <div class="columns">
    {
      links.map((l) => (
        <Link href={l.href} variant={l.variant}>
          {l.name}
        </Link>
      ))
    }
  </div>
</section>
